@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

:root {
  --blue: hsl(169, 100%, 85%);
  --green: hsl(122, 100%, 85%);
  --yellow: hsl(69, 100%, 85%);
  --pink: hsl(298, 100%, 85%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

body {
  flex-direction: column;
  gap: 1rem;
  background-color: #10122a;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 1rem;
  color: hsl(0, 100%, 85%);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.37);
  padding: 1rem;
  border-radius: 10px;
  gap: 0.5rem;
  /* margin: 0 1px; */
}

input {
  max-width: 166px;
  background: none;
  border-radius: 7px;
  outline: none;
  padding: 0 0.4rem;
  font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.blue input {
  border: var(--blue) solid 4px;
  color: var(--blue);
}
.blue label {
  color: var(--blue);
}

.green input {
  border: var(--green) solid 4px;
  color: var(--green);
}
.green label {
  color: var(--green);
}

.yellow input {
  border: var(--yellow) solid 4px;
  color: var(--yellow);
}
.yellow label {
  color: var(--yellow);
}

.pink input {
  border: var(--pink) solid 4px;
  color: var(--pink);
}
.pink label {
  color: var(--pink);
}

@media (max-width: 490px) {
  input {
    width: 35vw;
    font-size: 5vw;
  }
  label {
    font-size: 6vw;
  }
}
